{
    "extends": ["react-app"],
    "rules": {
        "semi": ["error", "never"],
        "quotes": [
            "error",
            "single",
            {
                "allowTemplateLiterals": true
            }
        ],
        "indent": ["error", 4]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    }
}
